.section {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  padding: 1rem;
}
.section h2 {
  margin: 0 1rem;
  font-weight: 600;
}
.btn{
    right: 38rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section button {
  padding: 0.65rem 1rem;
  border: none;
  color: coral;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.app nav {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.t{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
}
.app nav ul {
  display: flex;
  list-style: none;
}
.app nav ul li a {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: coral !important;
  font-weight: 600;
  font-size: 2rem;
}
.home p {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: 600;
  font-size: 1.5rem;
}
