.app{
  display: flex;
  position: relative;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
.section h2 {
  margin: 0 1rem;
  font-weight: 600;
}
.btn{
  position: relative;
  padding: 1rem;
}
.btn button {
  padding: 0.65rem 1rem;
  border: none;
  color: coral;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.app nav {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: #000;
  width: 100%;
  margin-bottom: 2rem;
}
.t{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
}
.app nav ul {
  display: flex;
  list-style: none;
}
.app nav ul li a {
  padding: 1rem;
  /* width: 100%; */
  text-decoration: none;
  color: coral !important;
  font-weight: 600;
  font-size: 2rem;
}
.home p {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: 600;
  font-size: 1.5rem;
}
